.header{grid-column: span 2; display: flex; align-items: center; justify-content: space-between; padding: 10px; background-color: #fff; border-bottom: 1px solid #eee; position: sticky; top: 0; z-index: 99;}
.header .name{display: inline-flex; align-items: center;}
.header .name b{font-size: 22px; font-weight: 700; letter-spacing: -0.08em;}