.container{border-right: 1px solid #eee; padding: 20px; font-size: 16px;}
.container article{margin-bottom: 20px;}
.container article h5{font-size: 1em; font-weight: 600; margin-bottom: 0.8em;}
.container article ul{display: flex; flex-direction: column; gap: 0.5em;}
.container article ul li a{font-size: 0.9em; font-weight: 400; opacity: 0.7;}
.container article ul li a:hover{opacity: 1;}